* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
html {
	height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.jp-main{
	height: max-content;
	flex:1;
}
.jp-footer{
	background-color: #000033;
	color: #e5e5e5;
	border-top: solid 1px black;
	height: 65px;
	display: flex;
	justify-content: center;
}
.error{
	border-color: red;
}

